body {
    color: #3C3C3C;
    font-size: 1.24em;
    font-family: 'Roboto Condensed', sans-serif;
}
/*NAVIGATION BAR START*/

/*NAVIGATION BAR END*/
h1 {
    text-transform: uppercase;
    font-size: 2.6em;
    font-weight: bold;
}
h1 span {
    color: #FABE4C;
}
h3, h4 {
    font-weight: 600;
}
/*Logo Image*/
#logo-image {
    height: 120px;
    width: 120px;
}
#lady-image {
    width: 100%;
    height: 450px;
    margin: 0 auto;
}
.img-div {
    width: 100%;
    height: 300px;
    background-color: #F1F1F1;
}
.card-image {
    width: 70%;
    height: 250px;
}
.dollar {
    font-weight: 900;
    font-size: 1.6em;
}
.shaddow {
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}
.btn-buy {
    background-color: #A4BC46;
    padding: 20px 30px 20px 30px;
    color: white;
    width: 170px;
    font-weight: 600;
    border: 0;
}
.icon-image {
    height: 120px;
    width: 100px;
}
.shopping-image {
    width: 100%;
}
.jacket-card {
    border: 0;
}
.jacket-card-footer {
    background-color: white;
    border: 0;
}
.form-area {
    background-color: lightblue;
}
.text-input {
    width: 100%;
    min-height: 100px;
    outline: none;
    resize: none;
    border: 1px solid grey;
    }
/*RESPONSIVE DESIGN*/
@media (max-width: 767.98px) {
    #navbarNav {
        display: flex;
        justify-content: flex-start;
    }
    h1 {
        font-size: 1.7em;
    }
    #lady-image {
        margin-top: 10px;
    }
    .icon-image {
        margin: 0 auto;
    }
    .shopping-image {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .form-area h3 {
        margin-top: 30px;
    }
    .order-image {
        order: 0;
    }
    .icon-card-order {
        order: 1;
    }
}